<% include ../partials/header %>
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 mt-5">
      <h2>Add comment to <%= campground.name %></h2>
      <form action="/campgrounds/<%= campground._id %>/comments" method="POST">
        <div class="form-group">
          <label>Comment Content</label>
          <input type="text" class="form-control" name='comment[text]'  placeholder="Enter comment">
        </div>
        <button type="submit" class="btn btn-primary btn-block">Add Comment</button>
      </form>
    </div>
  </div>
</div>
<% include ../partials/footer %>
