<% include ./partials/header %>
<div style='text-align:center' id='home'>
  <div id="intro">
    <h1>Welcome To YelpCamp!</h1>
    <a href="/campgrounds" class='btn btn-success btn-lg'>View All Campgrounds</a>
  </div>
</div>
<% include ./partials/footer %>
